# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs
/.vs/indexa2/FileContentIndex
/.vs/indexa2/FileContentIndex/74ecc8b8-34f8-464b-a7a5-0e6ff78e2c42.vsidx
/.vs/indexa2/FileContentIndex/8bc34d19-2767-49e6-90f3-d47b085bdd35.vsidx
/.vs/indexa2/FileContentIndex/9d3a4307-38ac-480c-b605-715f5ca626e0.vsidx
/.vs/slnx.sqlite
